Projects/STM32F407/EWARM/settings/
Projects/STM32F407/EWARM/STM32F4-Discovery
Projects/STM32F407/GCC/f407.*
*.o
*.lst
*.map
.DS_Store
Projects/STM32F407/EWARM/.DS_Store
Drivers/.DS_Store
Projects/.DS_Store
Projects/STM32F407/.DS_Store
.vscode/